<% persisted    = @user.persisted? %>
<% submit_label = (persisted) ? "Update" : "Create"%>
<% method       = (persisted) ? "patch" : "post" %>
<% action_url   = (persisted) ? user_url(@user) : users_url %>



<form action="<%= action_url %>" method="post">
  <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
  <input type="hidden" name="_method" value="<%= method %>">

  <div class="form-group">
    <label for="user-username">Username</label>
    <input class="form-control" id="user-username" type="text" name="user[username]"
      value="<%= @user.username %>" placeholder="username">
  </div>

  <div class="form-group">
    <label for="user-password">Password</label>
    <input class="form-control" id="user-password" type="password"
           name="user[password]" placeholder="password">
  </div>

  <div class="form-group">
    <label for="user-password_confirmation">Password confirmation</label>
    <input class="form-control" id="user-password_confirmation" type="password"
           name="user[password_confirmation]" placeholder="password">
  </div>

  <div class="form-group">
    <label for="user-url">LinkedIn Profile</label>
    <input class="form-control" id="user-url" type="text" name="user[url]"
      value="<%= @user.url %>" placeholder="https://www.linkedin.com/profile">
  </div>

  <div class="form-group">
    <label for="user-img_url">Profile Image URL</label>
    <input class="form-control" id="user-img_url" type="text" name="user[img_url]"
      value="<%= @user.img_url %>" placeholder="https://...">
  </div>

  <div class="form-group">
    <label for="user-profile">Profile</label>
    <textarea class="form-control" rows="5" id="user-profile" type="text" name="user[profile]"
      placeholder="Things about you"><%= @user.profile %></textarea>
  </div>





  <button type="submit" class="form-control btn btn-primary"><%= submit_label %></button>

</form>
