<h3><%= @user.username %></h3>
<div>Contributed Listings: <%= @listings.size %></div>
<div>Post Karma: <%= @listing_karma %></div>
<div>Joined: <%= time_ago_in_words(@user.created_at) %> ago</div>

<hr>

<h4>Profile</h4>
<div class="">
<%= @user.profile.empty? ? "no profile found" : @user.profile %>
</div>

<hr>

<h4>Posted job listings</h4>
<div class="group-list">
  <%= render @listings %>
</div>
