<nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed"
        data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <%= link_to "Job Hunter App", root_url, class: "navbar-brand" %>

    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if logged_in? %>
            <li>
              <%= link_to "Edit account", edit_user_url(current_user) %>
            </li>
            <li>
              <%= link_to "Sign Out", session_url, method: "delete" %>
            </li>
        <% else %>
          <% unless current_page?(controller: 'sessions', action: 'new') %>
            <li>
              <%= link_to "Sign In", new_session_url %>
            </li>
          <% end %>
          <% unless current_page?(controller: 'users', action: 'new') %>
            <li>
              <%= link_to "Sign Up", new_user_url %>
            </li>
          <% end %>
        <% end %>
      </ul>

      <ul class="nav navbar-nav pull-right">
        <li><%= link_to current_user.username, current_user if current_user %></li>
        <li><%= link_to active_group.name, active_group if active_group %></li>
      </ul>
    </div>
  </div>
</nav>
